<li data-no='<%=no %>'>
	<table>
		<tr>
			<td><%=name %></td>
			<td><%=regDate %></td>
			<td><a href='' data-no='<%=no %>'>삭제</a></td>
		</tr>
		<tr>
			<td colspan=3><%=contents %></td>
		</tr>
	</table>
	<br>
</li>